//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require_self
//
//-----------------------------------------
// Compass libraries and extensions
//-----------------------------------------

@import bootstrap

$width: 800px

#container
  width: $width
  margin: 30px auto
  padding-bottom: 30px

table
  margin-top: 30px

form
  margin: 0
  input.location
    font-size: 2em
    padding: 12px 6px
    line-height: 1.3em
    width: 786px

footer
  position: fixed
  bottom: 30px
  background: #fff
  width: $width
  span
    padding-left: 20px
    a
      color: #666

h1.logo
  position: absolute
  top: 50%
  left: 50%
  width: $width
  height: 100px
  margin-left: -1 * $width/2
  margin-top: -100px
  img
    float: left
    margin-right: 40px
  form
    padding-top: 15px

#title_group
  display: none
