%footer
  %p
    listen l8r is a 2012
    = link_to "Railslove", "http://railslove.com"
    project
    &mdash;
    and, yes, it's
    = link_to("Open Source", "https://github.com/railslove/listenl8r") + "."
