%footer
  %p.centered
    listen l8r is a sunday side dish, served by
    = link_to "Railslove", "http://railslove.com"
    &mdash;
    and boy is it
    = link_to "Open Source", "https://github.com/railslove/listenl8r"
    %br
    %small
      = link_to "Follow @ll8r on Twitter", "http://twitter.com/ll8r"
      and give us your feedback
      &middot;
      = link_to "Imprint", "http://www.railslove.com/impressum.txt"
