%header
  - if @feed && !@feed.new_record?
    %h1= link_to image_tag("listenl8r.png"), root_url
    %h2
      = link_to "This is your private podcast feed.", feed_url(@feed, format: "atom")
      %br
      Add audio files from the web to start listening l8r.
    %hr
