%header
  - if @feed && !@feed.new_record?
    %h1= image_tag "listenl8r.png"
    %h2
      = link_to("This is your listen l8r feed", feed_url(@feed, format: "atom")) + "."
      %br
      Add audio files from the web &mdash; and start listening l8r.
    %hr
